<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Snake Menu</title>
    <style>
        .flex-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
        }
    </style>
</head>
<body>
<div class="flex-container">
    <h1>Main menu</h1>
    <a href="/setup">
        <button>Play</button>
    </a>
    <br>
    <a href="/leaderboard">
        <button>Leaderboard</button>
    </a>
</div>
</body>
</html>